/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html {
  scrollbar-width: 10px;
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  /* --body-color: black; */
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s; /* For animation dark mode */
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/

/*========== Variables Dark theme ==========*/

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

/*=============== HEADER & NAV & HOME ===============*/
header {
  margin: 0;
  padding: 0;
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav {
  width: 100%;
  height: 60px;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: var(--z-fixed);
}
header nav .menu {
  width: 80%;
  margin: 0 auto;
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  transition: all 0.3s ease;
}

header nav .menu ul {
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 3.5rem;
  border-radius: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}
header nav .menu ul li i {
  font-size: var(--h1-font-size);
  color: var(--text-color);
}
header nav .menu ul li i:hover {
  background-color: var(--first-color-alt);
  padding: 0.6rem;
  border-radius: 50%;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

header nav .menu ul span {
  display: none;
}
header .logo span,
header .logo i {
  color: var(--first-color-lighten);
  font-size: var(--h2-font-size);
}

nav ul li span {
  color: var(--first-color-lighten);
}

nav ul li span:hover {
  color: var(--first-color);
}

nav .logo:hover i {
  color: var(--first-color);
  transition: all 0.3s ease;
}
nav .logo:hover span {
  color: var(--first-color);
  transition: all 0.3s ease;
}

header .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header button:hover {
  background-color: var(--first-color-alt);
  width: 5rem;
  height: 2rem;
  border-radius: 7px;
  color: white;
  transition: all 0.3s ease;
}
header button {
  background-color: var(--first-color);
  width: 5rem;
  height: 2rem;
  border-radius: 7px;
  color: white;
}
/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(228, 66%, 45%, 0.25);
  transition: 0.3s ease;
}

.scroll-header .just {
  color: var(--first-color-alt);
}

.home {
  width: 100%;
  margin-top: 60px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.home .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.home .text h1 {
  color: var(--first-color-lighten);
  font-size: var(--biggest-font-size);
  line-height: 3rem;
  margin-bottom: 2rem;
}
.home .text p {
  color: var(--text-color-light);
  margin-bottom: 2rem;
}

.home form {
  width: 100%;
  display: flex;
  background-color: var(--body-color);
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  align-items: center;
  border-radius: 0.75rem;
  border: 3px solid var(--text-color-light);
  margin-bottom: 2rem;
}
.home form i {
  font-size: 1.5rem;
  color: var(--first-color);
}

.home form input {
  width: 90%;
  background-color: var(--body-color);
  margin: 0 0.5rem;
}
.home form input::placeholder {
  color: var(--text-color-light);
}

.home .more {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0.5rem auto;
  width: 80%;
}
.home .more .home__value-number {
  display: flex;
  flex-direction: column;
}

.home .more h1 {
  color: var(--text-color-light);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.home .more h1 span {
  color: var(--second-color);
  font-size: 30px;
}

.home .more .home__value-description {
  color: var(--text-color-light);
}

.home .img img {
  border-radius: 50% 50% 0 0;
  position: relative;
  bottom: -3.5rem;
  width: 100%;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* responsive */
nav .menu-v2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  /* nav bar */
  nav .menu {
    display: none !important;
  }
  nav .menu-v2 {
    display: flex;
    align-items: center;
    width: 50%;
  }
  nav .menu-v2 ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    position: relative;
    left: 25%;
  }
  nav .menu-v2 ul i {
    display: none;
  }
  header nav {
    padding: 1rem 9rem;
  }

  /* home */
  .home {
    margin-top: 60px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    padding-top: 3%;
    gap: 4%;
  }
  .home .container {
    width: 50%;
  }
  .home .img {
    width: 50%;
  }
  .home .img img {
    position: relative;
    bottom: -2rem;
  }

  .home .text h1 {
    line-height: 4rem;
  }
  .home form {
    margin-bottom: 1rem;
  }
}

/*=============== LOGOS ===============*/
.logos {
  width: 100%;
  margin: 2rem;
}

.logos .logo__container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
}
.logos .logo__container img {
  height: 60px;
  opacity: 0.3;
}
.logos .logo__container img:hover {
  opacity: 1;
  transform: scale(1.3);
  transition: all 0.3s ease;
}

html {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .logos .logo__container {
    width: 90%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 1rem auto;
  }
}

/*=============== POPULAR ===============*/
.popular {
  padding: 2rem;
  width: 100%;
}
.popular .container {
  width: 100%;
  padding-bottom: 2rem;
}
.popular .container .card {
  width: 290px;
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem auto;
  background-color: var(--body-color);
}
.popular .container .card img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.popular .card .text {
  padding: 0 1rem;
}

.popular__price {
  font-size: large;
  color: var(--text-color);
  margin-bottom: 0.25rem;
}
.popular__price span {
  color: var(--second-color);
}
.popular__title {
  margin-bottom: 0.75rem;
}
.popular__description {
  font-size: small;
}

.popular .card:hover {
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
  transition: all 0.3s ease;
}

.popular > h2 {
  font-size: var(--h1-font-size);
}
.popular span {
  font-size: var(--h3-font-size);
}

.swiper-container {
  width: 100%;
  padding: 40px 0;
}
.swiper-slide {
  background: #eee;
  border-radius: 8px;
  padding: 40px 20px;
  text-align: center;
  font-size: 1.2rem;
}

/*=============== VALUE ===============*/
.value {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.value img {
  width: 350px;
  height: 380px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.value .text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.value .text-container .text {
  width: 100%;
}
.value .text-container .container {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  transition: all 0.3s;
}
.value .container .items {
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
  padding: 1rem 2rem;
  transition: all 0.3s;
  border-radius: 15px;
}
.value .container .items:hover {
  transform: scale(1.08);
  transition: all 0.3s;
}

.value .container .items .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.5rem;
}

.value .text-container .container .items .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  width: 90%;
  margin: 0 auto;
}

.value .container .items .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.value .container .items .arrow.rotate {
  transform: rotate(90deg);
}

.value .text .section__subtitle {
  font-size: var(--h2-font-size);
  font-weight: 600;
}
.value .text .section__title {
  font-size: var(--h1-font-size);
  font-weight: 600;
}
.value .text p {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .value .container-img {
    width: 70%;
  }
  .value .container-text {
    width: 10%;
  }

  .value img {
    width: 450px;
    height: 480px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/*=============== CONTACT ===============*/
.contact {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.contact img {
  width: 350px;
  height: 380px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact .text .section__subtitle {
  font-size: var(--h2-font-size);
  font-weight: 600;
}
.contact .text .section__title {
  font-size: var(--h1-font-size);
  font-weight: 600;
}
.contact .text p {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.contact .container {
  width: 100%;
  margin: 2rem 1rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
}
.contact .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
  background-color: var(--body-color);
  padding: 1rem;
  border-radius: 15px;
  row-gap: 0.3rem;
  transition: all 0.3s;
}
.contact .container .card:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.contact .container .card .icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5rem;
  transition: all 0.3s;
}
.contact .container .card p {
  font-size: var(--smaller-font-size);
  position: relative;
  top: -7px;
  left: 15px;
}
.contact .container .card .icon i {
  color: var(--first-color);
  background-color: rgba(168, 168, 240, 0.847);
  padding: 0.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: large;
  transition: all 0.3s;
}
.contact .container .card button {
  background-color: var(--first-color-light);
  color: #fff;
  border-radius: 15px;
  width: 80%;
  height: 40px;
  transition: all 0.3s;
}
.contact .container .card button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
}
.subscribe-button {
  display: none;
}
@media screen and (min-width: 1024px) {
  .subscribe-button {
    display: block;
  }
  .contact {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6rem auto;
    margin-bottom: 4rem;
    gap: 4rem;
  }

  .contact .container-img {
    width: 40%;
  }
  .contact .text-container {
    width: 35%;
    row-gap: 1rem;
    position: relative;
    top: 10px;
  }

  .contact img {
    width: 450px;
    height: 480px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
/*=============== SUBSCRIBE ===============*/
.main .subscribe-part {
  margin: 3rem auto;
  width: 85%;
  background-color: var(--first-color-light);
  height: 290px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  row-gap: 0.5rem;
  margin-bottom: 6rem;
  transition: all 0.3s ease;
}
.main .subscribe-part h2 {
  color: #fff;
  font-size: var(--h1-font-size);
}
.main .subscribe-part p {
  color: #fff;
  font-size: var(--p-font-size);
  padding: 1rem;
  text-align: center;
}
.main .subscribe-part button {
  border: solid #fff 2px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: rgba(129, 147, 223, 0.2);
  color: #fff;
}
.main .subscribe-part button:hover {
  transform: scale(1.2);
  background-color: rgba(129, 147, 223, 0.9);
  transition: all 0.3s ease;
}

/*=============== FOOTER ===============*/
footer {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6rem;
}

footer .start {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .start .home-f a {
  font-size: 20px;
}
footer .start .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem 1rem;
}

footer ul li a {
  color: var(--text-color);
}
footer ul li a:hover {
  color: var(--first-color-alt);
  transition: all 0.2s ease;
}
footer .Follow-us ul {
  display: flex;
  gap: 0.2rem;
}
footer .Follow-us ul i {
  display: flex;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 50%;
}
footer .Follow-us ul i:hover {
  color: #fff;
  background-color: var(--first-color-alt);
  transition: all 0.3s;
}

footer .end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.start-full {
  display: none;
}

@media screen and (min-width: 1024px) {
  .start {
    display: none !important;
  }
  .start-full {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
  }
  footer {
    width: 90%;
    gap: 2rem;
    margin:  1rem auto;
  }
  .end ul {
    display: flex;
    gap: 5rem;
  }
}
/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */

/* For 2K & 4K resolutions */
